.details_container {
  display: flex;
  justify-content: center;  
  
  gap: 2rem;
  margin: 1rem;
  
  .right {
    display: flex;
    flex-direction: column;
    width: 40%;
   
    h2 {
      font-size: 2rem;
    }
    h4 {
      font-size: 1rem;
      margin-top: 3rem;
    }

    button {
      width: 50%;
    }
    button:hover {
      width: 50%;
      color: white;
      background-color: #c22d2d;
    }
  }
    
  
  p {
    font-size: 1.5rem;
    margin-top: 14rem;
  }

  img {
    max-width: 450px;
    width: 500px;
  }
}



